require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        <%- if cases["expected"].as_h? %>
    expect_raises(ArgumentError) do
        <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"]%>("<%= cases["input"]["phrase"] %>")
    end
    <% else %>
        <%= to_capitalized(@json["exercise"].to_s) %>.<%= cases["property"]%>("<%= cases["input"]["phrase"] %>").should eq("<%= cases["expected"] %>")
    <% end %>
        end
<% end %>
end
