require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        input_base = <%= cases["input"]["inputBase"] %>
        digits = <%= cases["input"]["digits"].as_a? %> of Int32
        output_base = <%= cases["input"]["outputBase"] %>
        <%- if cases["expected"].as_h? -%>
        expect_raises(ArgumentError) do
            <%= to_capitalized(@json["exercise"].to_s) %>.<%= to_snake(cases["property"].to_s)%>(input_base, digits, output_base)
        end
        <%- else -%>
            <%= to_capitalized(@json["exercise"].to_s) %>.<%= to_snake(cases["property"].to_s)%>(input_base, digits, output_base).should eq(<%= cases["expected"] %> of Int32)
        <% end %>
    end
<% end %>
end
