# ignore all files (to ignore crystal binaries)
*

# unignore files with extensions, dirs and specific ones
!*.*
!*/
!bin/fetch-configlet
!LICENSE
!Makefile
!generator/

# double ignore others
*.swp
.crystal/
.DS_Store
bin/configlet
bin/configlet.exe
CHECKLIST
tmp/
bin/generator
cache/
generator/lib
generator/.shards
generator/bin
generator/bin/generator
