require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| -%>
    <%- if cases["cases"]? -%>
        <%- cases["cases"].as_a.each do |subcases| %>
    <%= status()%> "<%-= subcases["description"] %>" do
        <%= to_capitalized(@json["exercise"].to_s)%>.<%= to_snake(subcases["property"].to_s)%>("<%= subcases["input"]["color"]%>").should eq(<%= subcases["expected"].to_s%>)
    end
        <% end %>
    <%- else -%>    
    <%= status()%> "<%-= cases["description"] %>" do
        <%= to_capitalized(@json["exercise"].to_s)%>.<%= to_snake(cases["property"].to_s)%>().should eq(<%= cases["expected"]%>)
    end
    <% end %>
<% end %>
end