require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        <%= to_capitalized(@json["exercise"].to_s) %>.find("<%= cases["input"]["subject"].to_s %>", <%= cases["input"]["candidates"].as_a? %>).should eq(<%= cases["expected"].as_a? %> of String)
    end
<% end %>
end
