require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        input = <%= cases["input"]["legacy"].as_h%>
        expected = <%= cases["expected"].as_h%>
        <%= @json["exercise"].to_s.upcase %>.<%= to_snake(cases["property"].to_s)%>(input).should eq(expected)
    end
<% end %>
end