require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        <%-= to_capitalized(@json["exercise"].to_s) %>.valid?("<%= cases["input"]["value"] %>").should <%-= cases["expected"].as_bool ? "be_true" : "be_false" %>
    end
<% end %>
end
