require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
    <%- if cases["expected"].as_h? %>
    expect_raises(ArgumentError) do
        Space::Age.from_seconds(<%= cases["input"]["seconds"] %>).age_on<%-= to_snake(cases["input"]["planet"].to_s) %>
    end
    <% else %>
    Space::Age.from_seconds(<%= cases["input"]["seconds"] %>).age_on<%-= to_snake(cases["input"]["planet"].to_s) %>.should be_close(<%= cases["expected"]%>, 0.01)
    <% end %>  
    end
<% end %>
end
