require "spec"
require "../src/*"

struct Time
  def leap_year?
    raise "That's too easy! Implement this method in your own way!"
  end
end

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%= status()%> "<%-= cases["description"] %>" do
        <%-= to_capitalized(@json["exercise"].to_s) %>.<%-= to_snake(cases["property"].to_s)%>?("<%= cases["input"]["value"] %>").should <%-= cases["expected"].as_bool ? "be_true" : "be_false" %>
    end
<% end %>
end
