require "spec"
require "../src/*"

describe "<%-= to_capitalized(@json["exercise"].to_s) %>" do
<%- @json["cases"].as_a.each do |cases| %>
    <%- cases["cases"].as_a.each do |sub_case| %>
    <%= status()%> "<%-= sub_case["description"] %>" do
        <% if sub_case["property"].to_s == "consistency" %>
        <%= to_capitalized(@json["exercise"].to_s) %>.decode(<%= to_capitalized(@json["exercise"].to_s) %>.encode("<%= sub_case["input"]["string"] %>")).should eq("<%= sub_case["expected"] %>")
        <% else %>
<%= to_capitalized(@json["exercise"].to_s) %>.<%= to_snake(sub_case["property"].to_s)%>("<%= sub_case["input"]["string"] %>").should eq("<%= sub_case["expected"] %>")
        <% end %>
        end
    <% end %>
<% end %>
end
