name: Tests
on:
  pull_request:
  push:
    branches:
    - main
  schedule:
    # Weekly.
    - cron: "0 0 * * 0"

jobs:
  exercises:
    name: Check exercises
    runs-on: ubuntu-latest
    # idea from https://github.com/actions/starter-workflows/blob/master/ci/crystal.yml
    container:
      image: crystallang/crystal
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - name: Run tests
        run: make test-exercises
      - name: Run generator tests
        run: make test-generator
